.nav-main{
  padding: 2rem 0 2rem 0; /*Top Rigth Bottom Left */ /*TB LR*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav-main a{
  margin: 0 auto;
  text-decoration: none;
}

.list-cat{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
  gap: 2rem;
}
.categories{
  padding-top: 5rem;
}

.prof-photo{
  width: auto;
  height: 35rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 25%;
  border-radius: 1rem 1rem 0rem 0rem;
}

.category p{
  display: block;
  text-align: center;
  padding: 2rem;
  font-size: 2rem;
  margin-top: 0;
}

.category p button{
  font-size: 1.75rem;
}

.category p:hover{
  background-color: #037bc0;
  color: white;
  border-radius: 0 0 1rem 1rem;
}

.category p:hover button{
  color: white;
}

.about-us-img{
  background-image: url(../../../assets/img/redes1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.aux-div{
  flex-basis: 50%;
  padding-left: 8rem;
  color: white;
}

.grid-au{
  display: flex;
  justify-content: flex-end;
  max-width: 175rem;
}

.div-competencia img{
  margin: 0 auto;
}

.competencia-section{
  margin: 5rem 0;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fit,minmax(25rem,1fr)); */
}

.competencia-text p{
  display: block;
  text-align: center;
  font-size: 2rem;
  margin-top: 3rem;
 /*  background-color: #037bc0; */
  /* color: white; */
  border-radius: 0 0 1rem 1rem;
}

.eval{
  background-image: linear-gradient(to right, transparent 50%,#037bc0 50%,#037bc0 100%), url(../../../assets/img/eval.jpg);
  padding: 8rem 0;
  background-repeat: no-repeat;
  background-size: 100%, 120rem;
  background-position: left center;
  margin-top: 3rem;
}

.grid-reque{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem 0;
}

.img-reque{
  background-image: url(../../../assets/img/requerimientos.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.grid-meto{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.img-meto{
  background-image: url(../../../assets/img/meto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.img-estra{
  background-image: url(../../../assets/img/estrategia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.aux-reque{
  padding: 6rem;
  color: white;
  background-color: #037bc0;
}

/*.section-welcome {
  margin-bottom: 4rem;
  padding-top: 0.5rem;
}*/
.section-welcome {
  padding: 20px 0; /* Añadir espacio alrededor de la sección */
}

.container-welcome {
  max-width: 960px; /* Ancho máximo para el contenido */
  margin: 0 auto; /* Centrar el contenido horizontalmente */
  padding: 0 20px; /* Añadir espacio alrededor del contenido */
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* Proporción 16:9 para el video */
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .container-welcome {
    padding: 0 10px; /* Ajustar el espacio en dispositivos más pequeños */
  }
}

.qr-container {
  max-width: 15%;
  height: auto;
}

.img-responsive {
  max-width: 50%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .eval{
    background-image: linear-gradient(to right, transparent 25%,#037bc0 25%,#037bc0 100%), url(../../../assets/img/eval.jpg);
    background-position: right center;
    padding: 5rem 0;
  }
  .aux-div{
    flex-basis: 85%;
  }
}



