<header class="nav-main-header sticky-header" [ngClass]="{'sticky': isSticky}">
  <div class="logos" [routerLink]="['/']" (click)="collapse()">
    <img class="img-logo" src="assets/img/ipn.png" alt="escom">
    <h2 class="redes-text">Redes de <p><span>Computadoras</span></p></h2>
    <h2 class="escom-text">Escuela Superior de <p><span>Cómputo</span></p></h2>
    <img class="img-logo right right-column" src="assets/img/escom.png" alt="escom">
  </div>
  <div class="nav-position">
    <nav class="navbar navbar-expand-lg navbar-light navs-header">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" (click)="collapse()" *ngIf="currentLink != '/'">
            <a class="nav-link font-weight-bold h3" [routerLink]="['/']">Inicio</a>
          </li>

          <li class="nav-item dropdown" *ngIf="currentLink == '/'">
            <a class="nav-link dropdown-toggle font-weight-bold h3" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inicio</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" [routerLink]="['/']" (click)="collapse()">
              <a class="dropdown-item font-weight-bold h5" *ngFor="let item of navs"
                (click)="goToId(item.link)">{{item.title}}</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bold h3" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Unidades</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" (click)="collapse()">
              <a class="dropdown-item font-weight-bold h5 text-truncate" style="max-width: 90vw;"
                *ngFor="let item of unidades" [routerLink]="['unidades',item.indice]">{{item.indice}}.-
                {{item.titulo}}</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bold h3" href="#" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              &nbsp; Más información
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" (click)="collapse()">
              <a class="dropdown-item font-weight-bold h5" data-toggle="modal" [attr.data-target]="'#biblio'"><i
                  class="bi bi-card-text"></i>&nbsp; Fuentes de consulta</a>
              <a class="dropdown-item font-weight-bold h5" data-toggle="modal" [attr.data-target]="'#glosario'"><i
                  class="bi bi-journal-text"></i>&nbsp; Glosario</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle font-weight-bold h3" href="#" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"><i class="bi bi-globe"></i>&nbsp;Idioma
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" (click)="collapse()">
              <button role="a" value="es" class="dropdown-item font-weight-bolder h5 text-dark">Español</button>
              <button role="a" value="eng" class="dropdown-item font-weight-bold h5 disabled" disabled>English</button>
            </div>
          </li>          
        </ul>
      </div>
    </nav>
  </div>
</header>
<div class="modal fade" id="biblio">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title">Bibliografía</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <img src="assets/img/bibliografia.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="program">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h2 class="modal-title">Programa de la Unidad de Aprendizaje</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class='embed-responsive embed-responsive-16by9' style='height: 75rem;'><object data='assets/data/programa2020.pdf' type='application/pdf'></object></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="app">
  <router-outlet></router-outlet>
</div>

<app-glosario></app-glosario>

<footer class="site-footer">
  <div class="grid-footer container">
    <div>
      <h3>Unidades</h3>
      <nav class="nav-foot">
        <a *ngFor="let item of unidades" [routerLink]="['unidades',item.indice]">{{item.indice}}.- {{item.titulo}}</a>
      </nav>
    </div>
    <div>
        <h3>Recursos</h3>
        <nav class="nav-foot">
          <a *ngFor="let item of unidades" [routerLink]="['recursos',item.indice]">{{item.indice}}.- {{item.titulo}}</a>
        </nav>
    </div>
    <div>
      <h3>Autoevaluación</h3>
      <nav class="nav-foot">
        <a *ngFor="let item of unidades" [routerLink]="['evaluaciones',item.indice]">{{item.indice}}.- {{item.titulo}}</a>
      </nav>
    </div>
  </div>
  <div class="div-space" style="display: inline-block;" style="text-align: center;">
    <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
        <a property="dct:title" rel="cc:attributionURL" href="https://serviciosocialaxel.github.io/RedesComputadoras/unidades/3">Recurso Didáctico Digital: Unidad III. Capa de Acceso a la Red</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://serviciosocialaxel.github.io/RedesComputadoras/">Verónica Agustín Domínguez & Axel Ernesto Moreno Cervantes</a> is licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International</a><br>
        <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
          <div class="horizontal-images">
              <img style="height:2vw!important;margin-left:1vw;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="">
              <img style="height:2vw!important;margin-left:1vw;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="">
              <img style="height:2vw!important;margin-left:1vw;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt="">
              <img style="height:2vw!important;margin-left:1vw;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1" alt="">
          </div>
      </a>      
    </p>
  </div>
  <p class="copyright">Instituto Politécnico Nacional. Escuela Superior de Cómputo</p>
</footer>
